/* main header */
  .skin-blue .main-header .logo {
  background-color: #01424f;
  font-family: Bell MT; font-size: 24px;
  font-weight: bold; color: white;
  }
  .skin-blue .main-header .navbar {
  background-color: #01424f;
  }
  .skin-blue .main-header .logo:hover {
  background-color: #01424f;
  }
  /* body */
  .content-wrapper, .right-side {
  background-color: #DDDDDD;
  }
  /* main sidebar */
  .skin-blue .main-sidebar {
  background-color: #025a6c;
  }
  /* active selected tab in the sidebarmenu */
  .skin-blue .main-sidebar .sidebar .sidebar-menu .active a{
  background-color: #356974;
  }
  /* other links in the sidebarmenu */
  .skin-blue .main-sidebar .sidebar .sidebar-menu a{
  background-color: #025a6c;
  }
  /* other links in the sidebarmenu when hovered */
  .skin-blue .main-sidebar .sidebar .sidebar-menu a:hover{
  background-color: #027990;
  }
  /* toggle button when hovered  */
  .skin-blue .main-header .navbar .sidebar-toggle:hover{
  background-color: #3f7e8b;
  }        